<section>  
    <img src="../../assets/Reminders.jpg" alt="">     
   
    <h2>Reminder App</h2>
    <div class="reg">
        <a routerLink="reg" class="btn btn-light">Register </a>
        <a routerLink="log" class="btn btn-dark">Sign In</a> 
    
    </div>
    <div>
        <h1>Schedule reminders for <br> <h3>any occasion.</h3> </h1>
            <p style="color: white;margin-left: 4%;">Send to yourself, send to others, choose the format that works for you.</p>
           
        
    </div>
</section>